{%- assign collection = collections[section.settings.collection] -%}
{% for product in collection.products %}
  <div id="popup1" class="none-data">
    <div class="image-product">
      <img
        class="image-popup"
        src=""
        alt="anh image">
    </div>
    <div class="popup">
      <h2 class="popup-name-product"></h2>
      <a class="close" href="#">&times;</a>
      <p class="popup-price"></p>
      <div class="description"></div>
      <div id="content-variants" class="content-variants">
        <label for="SingleOptionSelector-0">Select a options</label>
        <select
          id="SingleOptionSelector-0"
          class="single-option-selector single-option-selector-product-template product-form__input"
          data-index="option1"
          name="id"></select>
      </div>

      <div class="quantity-to-cart">
        <input
          type="number"
          value="0"
          min="1"
          class="popup-quantity">
      </div>
      <button id="add-to-cart-popup" class="add-to-cart">Add To Cart</button>
    </div>
  </div>
{% endfor %}
<style>
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

  .popup {
    width: 60%;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: all 5s ease-in-out;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 60%;
    overflow: auto;
  }

  @media screen and (max-width: 700px) {
    .box {
      width: 70%;
    }
    .popup {
      width: 70%;
    }
  }
  .none-data {
    display: none;
  }

  .flex-data {
    display: flex;
  }
  #popup1 {
    width: 70%;
    top: 50%;
    left: 50%;
    z-index: 100;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    position: absolute;
    background: white;
    height: auto;
  }
  .image-product {
    width: 40%;
  }
  img.image-popup {
    width: 100%;
    height: auto;
    margin: 30px auto;
  }
  section {
    position: relative;
  }
  .description {
    font-size: 18px;
  }
  .popup-quantity {
    font-size: 20px;
  }
  .popup .add-to-cart {
    background-color: #4CAF50;
    width: auto;
    height: 30px;
    cursor: pointer;
  }
  p.popup-price {
    font-size: 18px;
    font-weight: 600;
  }

  .quantity-to-cart {
    margin: 15px 0;
  }
</style>