<section class="question">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'question-block' %}
      <div class="questions">
        <div class="content">
          <div id="question">
            <h3 class="content-question">
              {{ block.settings.question-id }}
            </h3>
          </div>
          <div class="icon-down">
            {% render 'icon-arrow-down' %}
          </div>
          <div style="display: none;" class="icon-up">
            {% render 'arrow-up' %}
          </div>
        </div>
        <div class="content-answer">
          <p class="answer-content">
            {{ block.settings.answer-id }}
          </p>
        </div>
      </div>

    {% endcase %}
  {% endfor %}
  {% for blockButton in section.blocks %}
    {% case blockButton.type %}
      {% when 'button-block' %}
      <a class="button button--primary" href="{{ blockButton.settings.link-button-id }}">
        {{ blockButton.settings.content-answer-id }}</a>
  {% else %}

    {% endcase %}
  {% endfor %}
</section>

{% schema %}
  {
    "name": "Question Contact",
    "class": "section",
    "settings": [],
    "blocks": [
      {
        "type": "question-block",
        "name": "Question Content",
        "settings": [
          {
            "type": "text",
            "label": "Question",
            "id": "question-id"
          }, {
            "type": "textarea",
            "label": "Answer",
            "id": "answer-id"
          }
        ]
      }, {
        "type": "button-block",
        "name": "Button Content",
        "settings": [
          {
            "type": "text",
            "label": "Link Button",
            "id": "link-button-id"
          }, {
            "type": "text",
            "label": "Content Answer",
            "id": "content-answer-id"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Question Answer"
      }
    ]
  }
{% endschema %}

<style>
  .content-answer {
    display: block;
    height: 0;
    overflow: hidden;
    transition: all 0.2s linear;
  }
  div#question {
    margin-bottom: 10px;
  }
  .questions {
    margin: 0 0 10px;
    cursor: pointer;
  }

  div#question {
    margin: 0;
  }
  h3.content-question {
    margin: 0 26px;
    font-weight: 700;
  }

  div#question {
    padding: 12px 24px;
    width: 100%;
    border: 1px solid rgb(212, 209, 209);
  }
  div.content {
    width: 100%;
    display: flex;
  }
  .icon-down {
    display: flex;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(212, 209, 209);
  }
  .icon-up {
    display: flex;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(212, 209, 209);
  }
  p.answer-content {
    margin-left: 50px;
  }
</style>