<div class="support">
    <div class="question">
        <h1>Day La Cau Hoi</h1>
    </div>
    <div class="answer">
        <p>Day la cau tra loi</p>
    </div>
</div>
{{ schema }}
<style>
    .question {
        width: 100%;
        height: auto;
    }
</style>